.show{
    color:black;
}

.hide{
    color: #EFEAD8;
}

.button-container{
    display: flex;
    border: none !important;
}

.card-button{
    background-color: #6D8B74;
    color: black;
    font-size: small;
    border-radius: 20px;
    border: none;
}

.suggested__videos {
    flex: 0.915;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    background-color: #181818;
    padding: 1rem 1rem;
    padding-bottom: 0;  
  }

  .suggestedVideos_videos {
    display: flex;
    flex-wrap: wrap;
  }
  